<template>
  <div id="" class="d-flex">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <ul class="list-group">
            <li class="list-group-item" v-for="chat in conversations">
              <a :href="'/conversation/' + chat.conversation_id">
                <strong>{{chat.user_name}}</strong>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col">
              <ul class="list-group">
                <li class="list-group-item" v-for="msg in messages" v-bind:class="{'text-right':msg.sender_id == user_from}">
                  <strong>{{msg.users.name}}:</strong> {{msg.message}}
                </li>
              </ul>
              <br>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Your Message</label>
                  <textarea class="form-control" v-model="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" @click.prevent="sendMessage" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</template>
<script>
export default {
  props:['user_from', 'conversation_id'],
  data(){
    return {
      message:'',
      messages:[],
      conversations:[]
    }
  },
  mounted(){
    this.getMessages();
    this.getConversations();
  },
  methods:{
    getMessages(){
      axios.get('/api/getmessages', {
        params:{
          conversation_id:this.conversation_id,
          user_from:this.user_from
        }
      }).then((response)=>{
        console.log(response.data)
        this.messages =response.data
      }).catch(error=>{
        console.log(error)
      })
    },
    getConversations(){
      axios.get('/api/conversations', {
        params:{
          user_from:this.user_from
        }
      }).then((response)=>{
        console.log(response.data)
        this.conversations = response.data
      }).catch(error=>{
        console.log(error)
      })
    },
    sendMessage(){
      axios.post('/api/message', {
        message:this.message,
        user_from:this.user_from,
        conversation_id:this.conversation_id
      }).then((response)=>{
        this.messages.push(response.data);
        this.message = '';
        console.log(response.data)
      }).catch(error=>{
        console.log(error)
      })
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
